/*
 * Base styles.
 */

html {
	font-size: 62.5%;
}
// @media (min-width: 600px) {
// 	html {
// 		font-size: 85%;
// 	}
// }
// @media (min-width: 900px) {
// 	html {
// 		font-size: 100%;
// 	}
// }
// @media (min-width: 1400px) {
// 	html {
// 		font-size: 110%;
// 	}
// }

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;

	width: 100%;
	margin: 4.0rem auto;
}

th {
	font-weight: bold;
	text-align: left;
}

section {
	margin: 4.0rem 2.0rem 0 2.0rem;
	padding-top: 2.0rem;
	border-top: 1px solid $color-light;
}