/*
 * Base styles.
 */

html {
	font-size: 62.5%;
}
// @media (min-width: 600px) {
// 	html {
// 		font-size: 85%;
// 	}
// }
// @media (min-width: 900px) {
// 	html {
// 		font-size: 100%;
// 	}
// }
// @media (min-width: 1400px) {
// 	html {
// 		font-size: 110%;
// 	}
// }

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;

	width: 85%;
	margin: 2.0rem auto 4.0rem auto;
}
@media (min-width: $vp-medium-min) {
	body {
		width: 75%;
		margin-top: 4.0rem;	
	}
}

th {
	font-weight: bold;
	text-align: left;
}

b {
	font-weight: 700;
}