///////////////////////////////////////////////////////////////////////////////


.page-title {
	// margin: 0 $margin-side;
	font-size: $font-size-xlarge;
	line-height: 125%;
}

///////////////////////////////////////////////////////////////////////////////

.setup {
	// margin: 3.2rem $margin-side 0 $margin-side;
	margin-top: 3.2rem;
	border-top: 1px solid $color-light;
}

.setup:last-of-type {
	padding-bottom: 3.2rem;
	border-bottom: 1px solid $color-light;
}

@media (min-width: $vp-large-min) {
	// .setup {
	// 	float: left;
	// 	overflow: hidden;
	// 	width: 40%;
	// }
	// .setup:last-of-type {
	// 	padding-bottom: 0;
	// 	border-bottom: none;
	// }
}

///////////////////////////////////////////////////////////////////////////////

.setup-title {
	font-size: $font-size-large;
	// font-size: $font-size-large;
	font-weight: 400;
	line-height: 135%;
	margin-top: 0.8rem;
}

///////////////////////////////////////////////////////////////////////////////

.spec-table {
	display: table;
	width: 100%;
	margin-top: $font-size-large;

	div {
		display: table-cell;
		width: 25%;
		vertical-align: bottom;
	}
}

@media (min-width: $vp-large-min) {
	.spec-table {
		width: 50%;
	}
}

///////////////////////////////////////////////////////////////////////////////

.spec {
	.measure {
		font-size: $font-size-large;
		font-weight: 500;
	}
	.label {
		font-size: $font-size-small;
		margin-top: 0.4rem;
		font-weight: 400;
		white-space: nowrap;
	}
}



///////////////////////////////////////////////////////////////////////////////


.more {
	display: block;
	color: $color-link;
	cursor: pointer;
	font-size: $font-size-small;
	font-weight: 400;
	text-align: center;
}

.more.is-active {
	display: none;
}


@media (min-width: $vp-large-min) {
	.more {
		display: none;
	}
}

///////////////////////////////////////////////////////////////////////////////

$bulletToTextDistance: -0.8rem;

.description {
	display: none;
	font-size: $font-size-medium;
	color: $color-medium;
	margin-top: $font-size-large;

	p {
		margin-top: $font-size-medium;
		line-height: 135%;
	}

	li {
		// $bulletToTextDistance: 0.8rem;
		list-style-type: circle;
		// margin-left: $bulletToTextDistance;
		margin-left: 1.8rem;
		margin-top: $font-size-medium;
		line-height: 135%;

		// span {
		// 	position: relative;
		// 	left: -1 * $bulletToTextDistance;
		// }
	}
}

.description.is-active {
	display: block;
}

@media (min-width: $vp-medium-min) {
	.description {
		p {
			max-width: 80%;
		}
	}
}

@media (min-width: $vp-large-min) {
	.description {
		display: block;
	}
}

///////////////////////////////////////////////////////////////////////////////

.footnote {
	margin-top: $font-size-large;
	font-size: $font-size-small;
	line-height: 135%;
}