///////////////////////////////////////////////////////////////////////////////

.measure {
	font-size: 5.6rem;
	margin-bottom: 0.8rem;
}

.label {
	font-size: 1.3rem;
	margin-bottom: 4.8rem;
	text-transform: uppercase;
}