// Breakpoints
$vp-small-max: 		599px;
$vp-medium-min: 	550px;
$vp-large-min: 		760px;
$vp-xlarge-min:		1200px;

// Font sizes
$font-size-small: 	1.2rem;
$font-size-medium:	1.5rem;
$font-size-large:	1.7rem;
$font-size-xlarge: 	3.2rem;

// Colors
$color-xlight:		#eee;
$color-light:		#ddd;
$color-medium:		#595959;	// Lightest ADA compliant gray.
$color-dark:		#666;
$color-xdark:		#222;
$color-invert:		#fff;
$color-link:		#4178d7;

// Motion
$speed-fast: 		500ms;
$speed-moderate:	1000ms;
$speed-slow:		2000ms;

// Other
$margin-side: 		2.0rem;